
body {
    max-width: 66em;
    margin: 0 auto 10em;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13pt;
}

#main-content {
    padding: 0 .7em;
    position: relative;
}

div.heading {
    margin: 3em 0 1.5em;
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

    table#main-table {
        display: none;
    }

td, th {
    border: 1px solid black;
    vertical-align: middle;
    padding: .2em .7em;
    position: relative;
}

img.icon {
    width: 32px;
    vertical-align: middle;
}

.manual-selector {
    font-size: 200%;
    text-decoration: none;
    color: #ddd;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

kbd {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: underline;
}

textarea {
    width: 100%;
    height: 50em;
}

/* Top controls */
#top-controls {
    display: flex;
    clear: both;
    margin: 0 0 .5em;
}

    #top-controls .search-container {
        flex: 1;
    }

        #top-controls .search-container #search-field {
            width: 15em;
        }

        #top-controls .search-container #search-field-clear {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-1 -1 22 22"><circle r="10" cx="10" cy="10" stroke="%23000" stroke-width="1" fill="none" /><path d="M4,6 6,4 10,8 14,4 16,6 12,10 16,14 14,16 10,12 6,16 4,14 8,10z" fill="%23000" /></svg>') right center no-repeat;
            width: 1.25em;
            height: 1.25em;
            display: inline-block;
            vertical-align: middle;
        }

        #top-controls .search-container .search-options {
            display: inline-block;
            vertical-align: middle;
        }

            #top-controls .search-container .search-options .search-option {
                padding-left: .5em;
            }

div .error {
    background: #fee;
    text-align: center;
    border: 1px solid black;
    font-size: 115%;
    padding: 1em 3em;
    margin: .5em 0;
}

div.modlink-wrap {
    line-height: 1;
}

body:not(.display-description) div.modlink-wrap {
    margin-top: .3em;
}

div.modlink-wrap a.modlink {
    font-size: 115%;
}

    div.modlink-wrap a.modlink img.mod-icon {
        width: 32px;
        float: left;
        margin: 0 .5em 0 0;
    }

body:not(.display-description) div.modlink-wrap a.modlink img.mod-icon {
    margin-top: -.3em;
}

div.infos {
    font-size: 85%;
}

td.infos-1 div.infos {
    margin-left: 2.8em;
}

div.infos .inf-type, div.infos .inf-origin, div.infos .inf-author, div.infos .inf-published, div.infos .inf-difficulty {
    display: inline;
}

    div.infos .inf-origin::before, div.infos .inf-difficulty::before, div.infos .inf-twitch::before, div.infos .inf-published::before {
        content: ' • ';
    }

div.infos .inf-twitch {
    background: url(../HTML/img/twitch.svg) right center no-repeat;
    background-size: 10px 10px;
    display: inline-block;
    width: 29px;
}

div.infos .inf-author, div.infos .inf-published {
    opacity: .5;
}

    div.infos .inf-author::before {
        content: '\000a by ';
        white-space: pre;
    }

div.infos .inf-published {
    font-size: smaller;
}

div.infos .inf-difficulty .inf-difficulty-sub {
    font-weight: bold;
}

div.infos .inf-id {
    opacity: .5;
    font-family: Consolas, 'DejaVu Sans Mono', monospace;
}

td.infos-1 div.infos > .inf-description {
    display: block;
    font-size: 90%;
    color: #888;
    padding-right: 2em;
}

body:not(.display-difficulty) div.infos .inf-difficulty,
body:not(.display-origin) div.infos .inf-origin,
body:not(.display-twitch) div.infos .inf-twitch,
body:not(.display-id) div.infos .inf-id,
body:not(.display-description) div.infos .inf-description,
body:not(.display-published) div.infos .inf-published {
    display: none;
}

td.infos-2 div.infos > .inf-description, td.infos-1 div.infos > div, tr.mod:not([data-twitchplays='Supported']) div.infos .inf-twitch {
    display: none;
}

tr.mod[data-compatibility="Untested"] .mod-name, #top-controls .temporary div.untested {
    padding-left: 1.5em;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><text x=".5" y="1" font-size="0.99pt" font-family="Arial" fill="%23482" text-anchor="middle">?</text></svg>') left top no-repeat;
    background-size: 1em 1em;
}

tr.mod[data-compatibility="Unplayable"] .mod-name, #top-controls .temporary div.unplayable {
    padding-left: 1.5em;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><path d="M 0 1 .5 0 1 1 z" fill="%23f24" stroke="none" /></svg>') left top no-repeat;
    background-size: 1em 1em;
}

tr.mod[data-compatibility="Problematic"] .mod-name, #top-controls .temporary div.problematic {
    padding-left: 1.5em;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><circle cx=".5" cy=".5" r=".5" fill="%23fc4" stroke="none" /></svg>') left top no-repeat;
    background-size: 1em 1em;
}

.slider {
    margin-top: .5em;
}

#main-table th, #main-table td.infos-2 {
    white-space: nowrap;
}

body.sort-name #main-table th.modlink::after {
    content: '   • sorted by name';
}

body.sort-defdiff #main-table th.infos::after {
    content: '   • sorted by defuser difficulty';
}

body.sort-expdiff #main-table th.infos::after {
    content: '   • sorted by expert difficulty';
}

body.sort-published #main-table th.infos::after {
    content: '   • sorted by publication date';
}

#logo {
    float: left;
}

#icons {
    float: right;
    font-size: 85%;
    padding-top: 2.5em;
}

#profiles-menu {
    display: none;
}

    #profiles-menu > p.big {
        font-size: 150%;
        text-align: center;
        margin: .5em 0 1em;
        font-weight: bold;
    }

    #profiles-menu > p.small {
        font-size: 12pt;
        border-top: 1px solid #ccc;
        padding: 2em 0 1em;
        text-align: center;
        font-weight: bold;
    }

    #profiles-menu > div.wrapper {
        display: flex;
        flex-direction: row;
    }

        #profiles-menu > div.wrapper > div {
            flex: 1;
            text-align: center;
        }

            #profiles-menu > div.wrapper > div.defuser {
                margin-right: 1em;
                padding-right: 1em;
                border-right: 1px solid #ccc;
            }

            #profiles-menu > div.wrapper > div > p {
                margin: 0;
                font-size: 11pt;
            }

            #profiles-menu > div.wrapper > div > menu {
                list-style-type: none;
                padding: 0;
            }

                #profiles-menu > div.wrapper > div > menu > li {
                    padding: 0;
                }

            #profiles-menu > div.wrapper > div > p.explain {
                font-size: 8pt;
            }

/* Mobile interface only */
#page-opt, td.mobile-ui {
    display: none;
}

#main-table td.selectable {
    border-right: none;
    padding-right: 0;
    white-space: nowrap;
    width: 1px;
}

    #main-table td.selectable.last {
        padding-right: .7em;
    }

    #main-table td.selectable + td.selectable {
        border-left: none;
        padding-left: 0;
    }

#main-table th::after {
    font-size: 70%;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

#main-table-container {
    clear: both;
    position: relative;
}

    #main-table-container #more-tab {
        position: absolute;
        right: 0;
        bottom: 100%;
        background: #eef;
        border: 1px solid #eef;
        border-top-color: #ccf;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        padding: .2em 0 0;
    }

    #main-table-container #more-link {
        text-decoration: none;
        color: #024;
        padding: 0 .5em;
    }

#module-count {
    text-align: right;
}

#more {
    display: none;
}

    /* Lay out the displays/themes/filters/selectables in a four-column way */
    #more > div.filters {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 17.5em;
        border-bottom: 1px solid #ccf;
    }

        #more > div.filters > div {
            padding: 0 1.3em;
        }

        #more > div.filters #include-missing {
            margin-top: .5em;
        }

    #more > div.dev {
        text-align: center;
        margin-top: 2em;
    }

        #more > div.dev > span.dev-link {
            padding: 0 1.5em;
            border-right: 1px solid #ccf;
        }

            #more > div.dev > span.dev-link:first-child {
                padding-left: 0;
            }

            #more > div.dev > span.dev-link:last-child {
                padding-right: 0;
                border: none;
            }

    #more > table.file-locations code {
        font-size: 75%;
    }

    #more > table.highlighting-controls {
        width: auto;
        margin: 0 auto;
    }

    #more > .icon-credits {
        margin: 1.5em 0 .5em;
    }

    #more > .json {
        float: right;
        margin: 1.5em 0 .5em;
    }

div.popup {
    position: absolute;
    border: 2px solid black;
    padding: 10px;
    background: #fafaff;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

    div.popup > div.close {
        display: none;
    }

    div.popup p.manual-select {
        font-size: 70%;
        margin: .1em .25em;
    }

        div.popup p.manual-select span.arrow {
            position: relative;
            top: .4em;
        }

    div.popup menu.manual-select {
        margin: 0;
        list-style: none;
        padding: .2em;
    }

        div.popup menu.manual-select li {
            padding: .25em .7em 0 1.4em;
            position: relative;
            cursor: pointer;
        }

            div.popup menu.manual-select li:hover {
                background: navy;
                color: white;
            }

            div.popup menu.manual-select li.checked:before {
                position: absolute;
                content: '✓';
                left: 0.3em;
                top: 50%;
                transform: translateY(-50%);
            }

    div.popup h3 {
        margin: 2em 0 .5em;
    }

    div.popup h4 {
        margin: 1em 0 .25em;
    }

.icons {
    text-align: center;
}

    .icons > .icon-page {
        display: none;
    }

        .icons > .icon-page.shown {
            display: inline;
        }

    .icons div.icon {
        margin: 0 1em;
        position: relative;
        display: inline-block;
    }

        .icons div.icon > a > img {
            width: 60px;
        }

        .icons div.icon > a > span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 120%;
            width: 130%;
        }

/* JSON page */
div.links {
    float: right;
}

pre.diff {
    border: 1px solid #ccc;
    background: #eee;
    padding: 1em 2em;
}

    pre.diff span.ins {
        background: #8f8;
        font-weight: bold;
        padding: 0 .3em;
        margin: 0 .1em;
    }

    pre.diff span.del {
        background: #f88;
        text-decoration: line-through;
        padding: 0 .3em;
        margin: 0 .1em;
    }

    pre.diff span.sep {
        background: #ccf;
        font-weight: bold;
        padding: 0 .5em;
        display: block;
    }

        pre.diff span.sep::after {
            content: '...';
        }

.json-history td.commands, .json-history td.time, .json-history td.changes .module {
    white-space: nowrap;
}

/* Desktop version for narrow screens */
@media screen and (max-width: 1090px) and (min-width: 650.01px) {
    body {
        font-size: 12pt;
        max-width: none;
    }

    #logo {
        float: none;
        text-align: center;
    }

    #icons {
        float: none;
        width: 35em;
        padding-right: 10em;
        margin: -3.5em auto 5.5em;
        text-align: right;
    }

        #icons > * {
            text-align: center;
        }

    td.infos-2, th.infos {
        display: none;
    }

    td.infos-1 div.modlink-wrap {
        margin: 0;
    }

        td.infos-1 div.modlink-wrap img.mod-icon {
            float: left;
            margin: .1em .5em 0 0 !important;
        }

        td.infos-1 div.modlink-wrap a.modlink .mod-name {
            display: block;
            margin: 0;
        }

    td.infos-1 div.infos {
        padding: .1em 0;
        position: relative;
    }

    body.display-twitch tr.mod[data-twitchplays='Supported'] td.infos-1 div.infos > .inf-twitch {
        display: inline-block !important;
    }

    td.infos-1 div.infos > div.inf-type,
    td.infos-1 div.infos > div.inf-author,
    body.display-difficulty td.infos-1 div.infos > div.inf-difficulty,
    body.display-origin td.infos-1 div.infos > div.inf-origin,
    body.display-id td.infos-1 div.infos > div.inf-id,
    body.display-published td.infos-1 div.infos > div.inf-published {
        display: inline;
    }

    body.display-description td.infos-1 div.infos > div.inf-description {
        display: block;
    }

    td.infos-1 div.infos > div:not(.inf-description):not(.inf-type):not(.inf-author)::before {
        content: ' • ';
    }

    td.infos-1 div.infos > div.inf-author::before {
        content: ' • by ';
    }

    td.infos-1 div.infos {
        margin-left: 3em;
    }

    body.sort-name th.infos::after {
        content: '   • sorted by name';
    }

    body.sort-defdiff th.infos::after {
        content: '   • sorted by defuser difficulty';
    }

    body.sort-expdiff th.infos::after {
        content: '   • sorted by expert difficulty';
    }

    body.sort-expdiff th.infos::after {
        content: '   • sorted by expert difficulty';
    }

    /* Lay out the filters in a two-column way */
    #more > div.filters {
        height: 32em;
    }

        #more > div.filters > div {
            padding: 0 2.3em;
        }

    tr.mod[data-compatibility="Untested"] .mod-name, tr.mod[data-compatibility="Unplayable"] .mod-name, tr.mod[data-compatibility="Problematic"] .mod-name {
        padding-left: 3.5em;
        background-position: 2.25em 50%;
    }

    #top-controls {
        display: block;
    }

    #more > div.dev > span.dev-link {
        padding: 0;
        border: none;
        display: block;
    }
}

/* Desktop version for narrow screens — special case for wrapping the search options */
@media screen and (max-width: 740px) and (min-width: 650.01px) {
    #top-controls .search-container .search-options #search-opt-descriptions {
        display: block;
    }
}

/* Mobile interface */
@media screen and (max-width: 650px) {

    body {
        font-family: 'Trebuchet MS', sans-serif;
        margin-bottom: 1em;
    }

    #page-opt {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 20px;
        right: 0;
    }

    a.mobile-opt {
        display: block;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-10 -10 30 70"><circle cx="5" cy="5" r="5" fill="%23000" /><circle cx="5" cy="25" r="5" fill="%23000" /><circle cx="5" cy="45" r="5" fill="%23000" /></svg>') right center no-repeat;
        background-size: contain;
    }

    #main-content > #icons {
        display: none;
    }

    #icon-page-next {
        display: none;
    }

    #main-table tr.header-row {
        display: none;
    }

    #main-table td.infos-1 div.infos {
        margin-left: 3.5em;
    }

    #main-table {
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
    }

        #main-table tbody {
            display: block;
        }

        #main-table tr.mod {
            display: block;
            position: relative;
            clear: both;
            border-top: 1px solid #ccc;
            min-height: 2em;
        }

        #main-table td {
            display: block;
            border: none;
            padding: 0;
            font-size: 8pt;
        }

            #main-table td.selectable {
                display: none;
            }

            #main-table td .manual-selector {
                display: none;
            }

        #main-table div.modlink-wrap {
            margin: 0;
        }

            #main-table div.modlink-wrap a.modlink {
                display: block;
                font-size: 12pt;
                text-decoration: none;
            }

                #main-table div.modlink-wrap a.modlink .mod-icon {
                    float: left;
                    margin: .1em 0;
                }

                #main-table div.modlink-wrap a.modlink .mod-name {
                    width: 14.5em;
                    line-height: 1.2;
                    display: block;
                }

        #main-table td.infos-2 {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            text-align: right;
        }

            #main-table td.infos-2 .inf-twitch {
                position: relative;
                width: 19px;
                height: 8px;
                background-size: 8px 8px;
            }

                #main-table td.infos-2 .inf-twitch::before {
                    position: absolute;
                    left: 0;
                    top: 0;
                }

            #main-table td.infos-2 div.infos {
                font-size: 80%;
            }

                #main-table td.infos-2 div.infos .inf-author {
                    font-size: 95%;
                }

        #main-table td.mobile-ui {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 50px;
            display: block;
        }

            #main-table td.mobile-ui > a.mobile-opt {
                width: 100%;
                height: 25pt;
            }

        #main-table td.infos-2 .inf-difficulty::before {
            content: '\000a';
            white-space: pre;
        }

    body.display-id #main-table tr.mod {
        min-height: 2.5em;
    }

    body:not(.display-description) #main-table div.modlink-wrap a.modlink .mod-name {
        position: absolute;
        left: 2.5em;
        top: 1.1em;
        transform: translateY(-50%);
    }

    body.display-description #main-table div.modlink-wrap a.modlink .mod-icon {
        margin: 1px .5em 1px 0;
    }

    body.display-description #main-table td.infos-1 div.infos .inf-description {
        display: block;
        width: 25em;
        line-height: 1;
        font-size: 70%;
        padding-left: 1.3em;
        margin-top: .3em;
    }

    #logo > img {
        width: 320px;
    }

    div.popup {
        left: 12px;
        right: 12px;
        top: 12px;
        bottom: 12px;
        position: fixed;
        overflow: auto;
        font-size: 75%;
    }

        div.popup > div.close {
            display: block;
            position: fixed;
            top: 2px;
            right: 2px;
            width: 40px;
            height: 40px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><circle cx="5" cy="5" r="4.5" fill="%23fff" stroke-width=".5" stroke="%23000" /><line x1="3" y1="3" x2="7" y2="7" stroke="black" stroke-width="1.5" /><line x1="3" y1="7" x2="7" y2="3" stroke="black" stroke-width="1.5" /></svg>') right center no-repeat;
            cursor: pointer;
        }

        div.popup > p.manual-select {
            padding: 2em 0 1em;
        }

        div.popup menu.manual-select li {
            padding: .5em 2em;
        }

    kbd {
        text-decoration: inherit;
    }

    #more-tab {
        display: none;
    }

    #more > div.filters {
        font-size: 75%;
        height: 45em;
    }

        #more > div.filters > div {
            padding: 0 1.5em;
        }

    #more div.highlighting-controls {
        display: none;
    }

    #more > div.dev {
        list-style: disc;
        text-align: left;
        padding-left: 1.5em;
    }

        #more > div.dev > span.dev-link, #more > div.dev > span.dev-link + span.dev-link {
            display: list-item;
            padding: 0;
            margin: .7em 0;
            border: none;
        }

    div.popup {
        padding: 1.5em .5em;
    }

        div.popup > div.icons, #more > #icons {
            float: none;
            padding: 0;
            border-bottom: 1px solid #ccc;
            font-size: 100%;
            min-height: 70px;
        }

            div.popup > div.icons > div.icon-page {
                display: block;
                height: 90px;
            }

            div.popup > div.icons div.icon {
                margin: 0 1.1em;
            }

                div.popup > div.icons div.icon > a > img {
                    width: 32px;
                }

                div.popup > div.icons div.icon > a > span {
                    font-size: 80%;
                    width: 150%;
                }


    #top-controls .search-container .search-options {
        font-size: 10pt;
    }
}
